pkgbase = warctools
	pkgdesc = Command line tools and libraries for handling and manipulating WARC files (and HTTP contents)
	pkgver = 4.10.0
	pkgrel = 1
	url = https://github.com/internetarchive/warctools
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/w/warctools/warctools-4.10.0.tar.gz
	sha256sums = ce0c6e274db8ac8810f7c97b3943e8e8deadbc3f5c982db77cddaae2d2ae6170

pkgname = warctools

